{{ form(searchForm) }}
<a href="{{ path('app_addstudent') }}">+Add</a>
<br>
{% for c in tabStudent %}
    id : {{ c.nce }}
    username:{{ c.username }}
    moyenne: {{ c.moyenne }}
    <a href="#">Delete</a>
    <a href="#">Update</a>
   <br>
{% endfor %}
<h1> new List </h1>
{% for i in sortByMoyenne %}
    id : {{ i.nce }}
    username:{{ i.username }}
    moyenne: {{ i.moyenne }}
   <br>
{% endfor %}